body {
	font-family: "Time News Roman";
}

.content {
	max-height: 900px;
	min-height: 600px;
	overflow: scroll;
	background-color: white);
}

.saleProduct {
	border: 5px;
	background-color: white;
	min-height: 100px;
	max-height: 260px;
	overflow: scroll;
}